apiai==1.2.3
cloudpickle==0.5.5
cytoolz==0.9.0.1
decorator==4.3.0
jsonschema==2.6.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
numpydoc==0.8.0
pandas==0.23.4
pathlib2==2.3.2
pickleshare==0.7.4
psycopg2==2.7.6.1
py==1.6.0
pydub==0.23.0
pyTelegramBotAPI==3.6.6
python-telegram-bot==11.1.0
pywinpty==0.5.4
SoundFile==0.10.2
